# MongoDB Configuration
MONGODB_URL=mongodb://localhost:27017/
DATABASE_NAME=trenddetect

# Security
SECRET_KEY=615d8729ff6b0f211c72ce5eaf07dcdb7823cad41687467e0f901e5eca6624a6
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Twitter API Credentials (Optional: the system will fallback to mock stream if empty)
TWITTER_API_KEY=q0iN5qukNMkI1NOhI6lo1N9WT
TWITTER_API_SECRET=6FgUJJC3GHFHlEA7Eb1tWlOsGa2vwVfP4KFeBRGLxZnKqZBzYm
TWITTER_ACCESS_TOKEN=2030232766156296193-wjTT0vgaNzGcHteb708GPTYb6jvLqO
TWITTER_ACCESS_TOKEN_SECRET=nqO8B0vCMnizYpxPSqTjm5iZawG1AMWdepajlimoaE4Ao
TWITTER_BEARER_TOKEN=AAAAAAAAAAAAAAAAAAAAAPBe8AEAAAAAgvYC5fPFwYcPXoM9lj6mbcya86U%3DDj20ljmPFjYbAiFY1mAFZU9C0InoXUZzynOS3IGMxR7C8JulfT

# Stream Limit Customization
MAX_TWEETS_PER_RUN=1000
